* {
min-height: 0;
min-width: 0;
font-family: Lexend, "JetBrainsMono NFP";
font-size: 14px;
font-weight: 600;
}

window#waybar {
    transition-property: background-color;
    transition-duration: 0.5s;
    /* background-color: #1e1e2e; */
    /* background-color: #181825; */
    background-color: transparent;
    /* background-color: rgba(24, 24, 37, 0.6); */
}

#workspaces button {
padding: 0.3rem 0.6rem;
margin: 0.4rem 0.25rem;
border-radius: 6px;
/* background-color: #181825; */
background-color: #FAF9F6;
color: #228B22;
}

#workspaces button:hover {
color: #000000;
background-color: #1A472A;
}

#workspaces button.active {
background-color: #1A472A;
color: #89b4fa;
}

#workspaces button.urgent {
background-color: #1e1e2e;
color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
padding: 0.3rem 0.6rem;
margin: 0.4rem 0.25rem;
border-radius: 6px;
/* background-color: #181825; */
background-color: #FAF9F6;
}

#mpris.playing {
color: #1A472A;
}

#mpris.paused {
color: #9399b2;
}

#custom-sep {
padding: 0px;
color: #000000;
}

window#waybar.empty #window {
    background-color: transparent;
}

#cpu {
color: #000000;
}

#memory {
color: #000000;
}

#clock {
color: #000000;
}

#clock.simpleclock {
color: #000000;
}

#window {
color: #000000;
}

#pulseaudio {
color: #000000;
}

#pulseaudio.muted {
color: #000000;
}

#custom-logo {
color: #000000;
}

#custom-power {
color: #000000;
}

tooltip {
    background-color: #000000;
    border: 2px solid #89b4fa;
}
#custom-notification {
color: #000000;
}

